
/**
 * @file
 * Plugin front-end styles.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */


/*****************************************************************************
 * Logs table in navbar
 ****************************************************************************/
#wp-admin-bar-laguna > div {
  cursor: pointer;
}
#laguna-logs-wrap {
  position: fixed;
  top: 28px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  color: #FFF;
}
#laguna-logs-table-navbar th {
  background: #333333;
}
#laguna-logs-table-navbar {
  width: 100%;
}
/* Logs table in navbar end */


/*****************************************************************************
 * Logs table page in admin
 ****************************************************************************/
#laguna-logs-table-admin th#time {
  width: 200px;
}
#laguna-logs-table-admin th#type {
  width: 120px;
}
/* Logs table page in admin end */


/*****************************************************************************
 * Various other elements
 ****************************************************************************/

/* Various other elements end */
